body {
  font-family: sans-serif;
  margin: 2em auto;
  max-width: 1000px;
  padding: 1em;
  text-align: justify;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

h1,h2,h3 {
  text-align:center;
}

.vid {
  display: flex;
  align-items: center;
  justify-content: center;
}